# ===== Maven =====
target/
*.log

# ===== IntelliJ IDEA =====
.idea/
*.iml
out/

# ===== Allure =====
allure-results/
allure-report/
.allure/

# ===== OS =====
.DS_Store
Thumbs.db

# Gradle / build
build/
